<div class="container">
  <div class="card-trip show">
    <%= cl_image_tag @trip.destination.pictures.first.photo, height: 300, width: 400, crop: :fill %>
    <!-- how to get the picture from pictures table? -->
    <h3 class="card-trip-infos"><%= @trip.destination.location %></h3>
      <div class="row list-group-item d-flex justify-content-between ">
        <p>From: <%= @trip.start_date %></p>
        <p>From: <%= @trip.end_date %></p>
        <% if current_catcher == @trip.catcher %>
        <%= link_to trip_path(@trip), method: 'delete', class: 'card-link text-danger', data: {confirm: "Are you sure?"}  do %>
              <i class="fas fa-trash"></i> Delete
        <% end %>
            <% end %>
      </div>
  </div>
</div>

<div class="container">
  <%= simple_form_for [@trip, @invitation] do |f| %>
  <%=  f.input :catcher_id, collection: current_catcher.friends.map {|f| [f.id, f.user_name] unless f == @trip.catcher}.compact, label_method: :second, value_method: :first  %>
  <%= f.submit %>
  <% end %>
</div>
<div class="container">
<% @trip.invitations.each do |f| %>
<p>
<%=f.catcher.user_name  %>
    <% unless f.catcher.pictures.empty? %>
      <div><%= cl_image_tag f.catcher.pictures.first.photo , class:'avatar'%></div>
    <% end %>
    <%= link_to 'Delete Invitation', invitation_path(f),method: 'delete',class: 'btn btn-danger ' %>
    <%if f.joined %>
      <p class='invit-status'>Accepted</p>
    <% end %>
</p>
  <% end %>



</div>

