<div class="container">
  <div class="card-trip show">
    <img src="<%= %>" alt="picture"/>
    <!-- how to get the picture from pictures table? -->
    <h3 class="card-trip-infos"><%= @trip.destination.location %></h3>
      <div class="row list-group-item d-flex justify-content-between ">
        <p>From: <%= @trip.start_date %></p>
        <p>From: <%= @trip.end_date %></p>

        <%= link_to trip_path(@trip), method: 'delete', class: 'card-link text-danger', data: {confirm: "Are you sure?"}  do %>
              <i class="fas fa-trash"></i> Delete
            <% end %>
      </div>
  </div>
</div>

