<!-- <div class="background"> <%= image_tag "giraffe.jpg", alt: "alttext" %></div>
 -->
<div class="container">
  <div class="row">

<%@catchers.each do |catcher|%>

<div class="col-sm-6 col-lg-4">
<%= link_to catcher_path(catcher) do %>
<div class="card s">
  <h5 class="card-header"> <%=  catcher.user_name %> </h5>
  <div class="card-body">
    <div class=" card-body-wrap">
      <div>
          <p class="card-text"><%= catcher.gender %></p>
          <p class="card-text"><%= catcher.birth_date %></p>
          <p class="card-text"><%= catcher.occupation %></p>
          <% if !catcher.pending_friends.include?(current_catcher) && FriendRequest.where(friend: catcher, catcher: current_catcher).blank? && !catcher.friends.include?(current_catcher) && catcher != current_catcher%>
          <%= link_to 'Add friend', catcher_friend_requests_path(catcher), method: :post, class: 'btn btn-warning' %>

          <% elsif !catcher.pending_friends.include?(current_catcher) && FriendRequest.where(friend: catcher, catcher: current_catcher).blank? && catcher != current_catcher%>
            <p class="card-text btn btn-success">Friends</p>

          <% elsif !catcher.friends.include?(current_catcher) &&  catcher != current_catcher%>
            <p class="card-text btn btn-danger">Pending Request</p>
          <% end %>

      </div>
        <% unless catcher.pictures.empty? %>
      <div><%= cl_image_tag catcher.pictures.first.photo , class:'b'%></div>
        <%end %>
      </div>

  </div>
</div>
<% end %>
</div>
<%end%>
  </div>
</div>

