<div class="container">
  <br>
  <h2 class="landing-page-titles" style="text-align: center">Our best stories (<%= Story.count %>) </h2>
  <!-- <h1>Our best stories (<%= Story.count %>)</h1> -->
<br>
  <div class="row">
    <% @stories.each do |s| %>


      <div class="col-12 col-md-6 col-lg-4 py 5px px 5px">

      <%= link_to story_path(s) do %>
        <div class="card-category" style='
        background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("<%= cl_image_path s.pictures.first.photo, height: 800, width: 800, crop: :fill  unless s.pictures.blank?%>")
        '>
          <div class="card-trip-infos">
            <div>
              <h2><%= s.title %></h2>
              <h2><% s.rating.times do%>
               <i class="fas fa-feather-alt small"></i>
              <% end %></h2>
              <h5>by <%= s.catcher.user_name %> </h5>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class = "row new-story">
     <%= link_to "Tell a new Story", new_story_path, class: "btn btn-warning btn-lg m-3"%>
  </div>



