<br>
<div class="container">
  <div class="card-trip-show-u">
  <% unless @story.pictures.blank?  %>
    <%= cl_image_tag @story.pictures.last.photo, class: 'story-img', height: 500, width: 600, crop: :fill %>
  <% end %>
    <div class="card-trip-infos m-3">
    <h3><%= @story.title %></h3>
    <p>Created by <strong><%= @story.catcher.user_name %></strong></p>
    <p>Rating: <% @story.rating.times do%>
      <i class="fas fa-feather-alt"></i>
    <% end %></p>
    <div class="separator"></div>
    <div class="story-content">
      <p>Content:
        <br>
        <%= @story.content %></p>
    </div>

      <%= link_to "Edit your story", edit_story_path(@story), class: "btn btn-info mb-2 absolute"%>
  <% if policy(@story).update? %>
    <%= link_to "Edit your story", edit_story_path(@story), class: "btn btn-info mb-2 absolute"%>
  <% end %>

    <br>
    <% if policy(@story).destroy? %>
      <%= link_to stories_path, method: 'delete', class: 'card-link text-warning delete', data: {confirm: "Are you sure?"}  do %><i class="fas fa-trash"></i>
      <% end %>
    <% end %>
  </div>
</div>
<br>
