<div class="container">
  <div class="card-trip show">
  <% unless @story.pictures.blank?  %>
    <%= cl_image_tag @story.pictures.last.photo, height: 800, width: 800, crop: :fill %>
  <% end %>
    <h3 class="card-trip-infos"><%= @story.title %></h3>
    <p>Content: <%= @story.content %></p>
        <p>Rating: <%= @story.rating %></p>
    <%= link_to "Edit your story", edit_story_path(@story), class: "btn btn-info mb-2" %>
    <br>
        <%= link_to story_path(@story), method: 'delete', class: 'card-link text-danger', data: {confirm: "Are you sure?"}  do %>
              <i class="fas fa-trash"></i> Delete
            <% end %>
  </div>
</div>
